/**
All Transitions
*/

a,input,img,textarea,button,svg,i,.pro-page-bnr-con-changer-btn,
.afrp-grid-loadmore-btn a:after,.hu-dtls-video-play-cntlr{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-socials-media ul li a i{
		transition: all 0.1s;
	-ms-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}


.pro-page-bnr-down-btn a:hover i,
.relevant-evnt-slide-item-img-cntlr:hover .hu-dtls-video-play-cntlr img{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.ml-bottle i:hover img{
	transform: scale(1.03);
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
}
.product-information-sec-ctlr:hover .pro-info-left-img{
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
}


.fl-account-page-entry-hdr a i{
	position: relative;
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	background:#004e37;
	color:#fff;
}



.pro-page-bnr-con-changer-btn:hover{
	opacity: .8;
}

.product-grd-item:hover .product-grd-item-des a{
	margin-left: 10px;
}
.running-list-btn a:hover{
	border-color:#BCA279!important; 
	color: #BCA279;
}


.running-list-btn a i{
	transition: all 0.1s;
	-ms-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.afrp-grid-loadmore-btn a:hover,
.running-item-desc-title a:hover{
	color: #BCA279;
}

.afrp-grid-loadmore-btn a:hover:after{
	background: #BCA279;
}

.pagination-cntlr > ul > li > a.next:hover,
.pagination-cntlr > ul > li > a.prev:hover{
	opacity: .5;
}
.mainBnrSlider .slick-current .banner-slider-title {
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}