
.ftr-top-glry{
	padding-bottom: 5px;
}
.ftr-top-glry-ctlr ul li{
	float: left;
	width: 20%;
}

.ftr-top-glry-item{
	position: relative;
}
.ftr-top-glry-item-img{
	height: 265px;
}

.ftr-top-glry-item-des{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 265px;
}
.ftr-top-glry-item-des-ctlr{
	text-align: center;
}
.ftr-top-glry-item-des-ctlr a{
	display: block;
	margin-bottom: 15px;
	color: #004C9B;
	font-size: 30px;
}
.ftr-top-glry-item-des-ctlr a:hover{
	color: #C19E61;
}

.ftr-top-glry-item-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 0;
	font-family: 'TheSansAmstel-CondensedBold';
	color: #004C9B;
	text-transform: uppercase;
	padding-bottom: 18px;
	position: relative;
}
.ftr-top-glry-item-title:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 118px;
	height: 4px;
	background: #C19E61;
}


.footer-menu-ctlr{
	background: #004C9B;
	padding: 190px 0 45px;
	text-align: center;
	position: relative;
}

.ftr-menu{
	padding-bottom: 60px;
	position: relative;
	z-index: 3;
}

.ftr-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
}
.ftr-menu ul li a{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'TheSansAmstel-Black';
}
.ftr-menu ul li a:hover{
	color: #C19E61;
}


.ftr-socials-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
}
.ftr-socials-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	height: 40px;
	width: 40px;
	background: #FFFFFF;
	border-radius: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	color: #004C9B;
}
.ftr-socials-media ul li a:hover{
	background: #C19E61;
	color: #fff;
}




.ftr-top-logo{
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
}

.ftr-top-logo-1{
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	position: relative;
}


.ftr-top-logo a:hover .ftr-top-logo-1{
	top: -5px;
}

.ftr-top-logo a,
.ftr-rgt-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-rgt-logo a span{
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 8px;
	font-family: 'TheSansAmstel-Bold';
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.ftr-rgt-logo a:hover span{
	opacity: 1;
}
.ftr-rgt-logo a img:hover{
	transform: scale(1.1);
}


.ftr-top-logo a img{
	display: block;
	margin-bottom: 8px;
}

.ftr-rgt-logo{
	position: absolute;
	bottom: 35px;
	right: 35px;
	z-index: 2;
}
.ftr-lft-lemon{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}
.ftr-lft-angle-img{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.ftr-rgt-angle-img{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}


.ftr-copywrite{
	padding: 30px 0;
	text-align: center;
}
.ftr-copywrite p{
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 0;
	font-family: 'TheSansAmstel-SemiLight';
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.ftr-top-glry-item-img {
	    height: 230px;
	}
	.ftr-top-glry-item-des{
		height: 230px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.footer-menu-ctlr {
	    padding: 140px 0 35px;
	}
	.ftr-menu {
	    padding-bottom: 40px;
	}
	.ftr-lft-lemon img{
		width: 270px;
	}
	.ftr-lft-angle-img img,
	.ftr-rgt-angle-img img{
		width: 290px;
	}
	.ftr-copywrite {
	    padding: 20px 0;
	}
	.ftr-top-glry-ctlr ul li {
	    width: 50%;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-bottom: 20px;
	}
	.ftr-top-glry-ctlr ul li:nth-child(3){
		width: 100%;
	}
	.ftr-top-glry-item-title{
		font-size: 31px;
	}
	.ftr-socials-media{
		position: relative;
		z-index: 3;
	}
	.ftr-rgt-logo{
		z-index: 4;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ftr-top-glry-item-des-ctlr a {
	    margin-bottom: 10px;
	    font-size: 26px;
	}
	.ftr-top-glry-item-title {
	    font-size: 28px;
	    padding-bottom: 15px;
	}
	.footer-menu-ctlr {
	    padding: 110px 0 30px;
	}
	.ftr-menu {
	    padding-bottom: 30px;
	}
	.ftr-menu ul li a {
	    font-size: 14px;
	}
	.ftr-socials-media ul li a {
	    height: 35px;
	    width: 35px;;
	    line-height: 35px;
	    font-size: 20px;
	}
	.ftr-top-logo {
	    top: -26px;
	}
	.ftr-top-logo a img {
	    width: 50px;
	}
	.ftr-rgt-logo {
	    bottom: 20px;
	    right: 20px;
	}
	.ftr-rgt-logo a img{
		width: 50px;
	}
	.ftr-lft-lemon img {
	    width: 230px;
	}
	.ftr-lft-angle-img img, 
	.ftr-rgt-angle-img img {
	    width: 220px;
	}
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ftr-top-logo,
	.ftr-rgt-logo,
	.ftr-lft-lemon,
	.ftr-lft-angle-img,
	.ftr-rgt-angle-img{
		display: none;
	}
	.footer-menu-ctlr {
	    padding: 80px 0 30px;
	}
	.ftr-menu ul li{
		padding-bottom: 10px;
	}
	.ftr-top-glry-ctlr ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	.ftr-top-glry-item{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}
	.ftr-top-glry-item-title {
	    font-size: 25px;
	    padding-bottom: 15px;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}

