.header{
	background: transparent;
	overflow: hidden;
	
}
.main-hdr{
	display: flex;
	align-items: center;
	padding-right: 22px;
	min-height: 123px;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.logo a{
	display: inline-block;
	max-width: 200px;
	width: 100%;
}
.humbergar-cntlr{
	display: flex;
	justify-content: flex-end;
	padding-left: 22px;
	position: relative;
	margin-left: auto;
}
.humbergar-cntlr:after{
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 51px;
	width: 1px;
	background: #FFFFFF;
}
.humbergar-icon{
	position: relative;
	height: 20px;
	width: 36px;
	cursor: pointer;
	
}
.humbergar-icon span{
	position: absolute;
	content: "";
	top: 0;
	left: 5px;
	right: 5px;
	height: 2px;
	width: 26px;
	background: #FFFFFF;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.humbergar-icon span:nth-child(2){
	top: 8px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.humbergar-icon span:nth-child(3){
	top: 16px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.humbergar-icon:hover span:nth-child(2){
	transform: translateX(-3px);
}
.humbergar-icon:hover span:nth-child(1),
.humbergar-icon:hover span:nth-child(3){
	transform: translateX(3px);
}



/*mobile header*/
.mobile-hdr{
	background: #004C9B;
	color: #fff;
	height: 100vh;
	position: relative;

    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 0;
    opacity: 0;
    z-index: 9999;
    -ms-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.mobile-hdr.opacity-1{
	right: 0;
    width: 100%;
    opacity: 1;
}
.mobile-hdr:hover .page-bnr-top-lft-animt-icon{
	left: -20px;
	top: -20px;
}
.mobile-hdr:hover .page-bnr-btm-rt-animt-icon{
	right: -20px;
	bottom: -20px;
}
.mobile-hdr-top{
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 22px;
	min-height: 123px;
}
.close-btn-cntlr{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}
.close-btn-icon{
	width: 22px;
	height: 22px;
	position: relative;
	cursor: pointer;
}
.close-btn-icon span{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	transform: rotate(-45deg);
	height: 2px;
	width: 100%;
	background: #FFFFFF;
}
.close-btn-icon span:nth-child(2){
	transform: rotate(45deg);
}


.mobile-hdr-menu{
	padding: 0 100px;
	padding-top: 90px;
}
.mbl-nav{
	text-align: center;

}
.mbl-nav > ul{

}
.mbl-nav > ul > li{
	padding: 0 20px;
}
.mbl-nav > ul > li > a{
	display: inline-block;
	font-size: 43px;
	font-family: 'TheSansAmstel-Bold';
	line-height: 1.2;
	color: #6A9BCE;
	text-transform: uppercase;
}
.mbl-nav > ul > li > a span{
	color: #ffffff;
	position: relative;
	z-index: 2;
}
.mbl-nav > ul > li > a span:after{
	position: absolute;
	content: "";
	bottom: 4px;
	left: -10px;
	right: 0;
	z-index: -1;
	height: 12px;
	width: 290px;
	background: #b68f4a;
}
.mbl-nav > ul > li > a:hover{
	/*color: #b5c2d0;*/
	color: #fff;
}
.mobile-hdr-ftr-menu{
	padding: 0 100px;
	padding-top: 180px;
}
.mobile-hdr-ftr-menu > ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.mobile-hdr-ftr-menu > ul > li{
	padding: 0 10px;
}
.mobile-hdr-ftr-menu > ul > li > a{
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'TheSansAmstel-Bold';
	line-height: 1;
	color: #83AEDB;
}
.mobile-hdr-ftr-menu > ul > li.active a,
.mobile-hdr-ftr-menu > ul > li > a:hover{
	color: #ffffff;
}
