
.running-free-documentary-sec{
	position: relative;
	margin-bottom: 75px;
}
.rfd-sec-cntlr{
	position: relative;
	background: #f4f4f4;
}
.rfds-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 235px;
	z-index: 1;
}

.rfd-sec-con{
	padding: 100px 0 80px;
	position: relative;
	z-index: 2;
}

.rfd-sec-hdr{
	text-align: center;
	color: #fff;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}
.rfd-sec-hdr p{
	font-size: 16px;
	line-height: 1.5;
}
.rfd-sec-hdr-title{
	text-transform: uppercase;
	font-size: 50px;
	display: block;
	margin: 0 0 30px 0;
	text-shadow: 0 4px 11px #184074;
}
.running-free-documentary-sec-fea-img{
	height: 524px;
	margin-bottom: 50px;
}
.running-free-documentary-sec-fea-img div{
	width: 100%;
	height: 100%;
}


.races-running-sec-hdr{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px;
}
.races-running-sec-hdr p{
	color: #004C9B;
	margin-bottom: 0;
}
.rrsh-title{
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;
	color: #004C9B;
	margin: 0;
	padding-right: 50px;
	text-align: right;
}



.races-running-sec{
	margin-bottom: 70px;
}
.races-running-sec-inr{
	position: relative;
	padding-bottom: 80px;
}
.races-running-sec-con{
	position: relative;
	z-index: 2;
}

.rrs-btm-gray-bg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 253px;
	background: #f4f4f4;
	z-index: 1;
}

.races-running-sec-slider-cntlr{
	padding: 0 100px;
}
.racesRunningSlider{
	margin: 0 0 50px 0!important;
}
.racesRunningSlideItemCol{
	padding: 0 15px;
}
.racesRunningSlideItem{
	height: 400px;
	position: relative;
}

.racesRunningSlideItem-fea-img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.racesRunningSlideItemDes{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background: rgba(196,0,11,.86);
	width: 51%;
	padding: 50px 15px 30px 25px;
}
.racesRunningSlideItemDes > div{
	position: relative;
	width: 100%;
	height: 100%;
}
.racesRunningSlideItemDes strong{
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
}
.racesRunningSlideItemDesTitle{
	font-size: 22px;
	line-height: 1.2;
	text-transform: uppercase;
}

.rrsid-arrow-icon{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.racesRunningSlider .slick-prev,
.free-alcohol-sec-con .slick-prev{
	left: -100px!important;
}
.racesRunningSlider .slick-next,
.free-alcohol-sec-con .slick-next{
	right: -100px!important;
}
.racesRunningSlider .racesRunningSlideItemCol .racesRunningSlideItemDes{
	background: rgba(196,0,11,.86);
}
.racesRunningSlider .racesRunningSlideItemCol + .racesRunningSlideItemCol .racesRunningSlideItemDes{
	background: rgba(186,146,76,.89);
}



.freeAlcoholSlideItemFeaImg{
	position: relative;
}
.freeAlcoholSlideItemCol{
	width: 50%;
	float: left;
}

.free-alcohol-sec{
	padding-bottom: 100px;
}
.free-alcohol-sec-con{
	padding: 0 100px;
}


.asifi-layer-cntlr{
	margin-left: auto;
	margin-right: auto;
	max-width: 270px;
	width: 100%;
	position: relative;
	height: 530px;
}
.fasifi-layer-1{
	position: relative;
	z-index: 3;
}
.fasifi-layer-2 {
    position: absolute;
    right: -105px;
    bottom: -68px;
    z-index: 2;
}

.fasifi-layer-3 {
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: 1;
}

.free-alcohol-logo{
	padding-bottom: 40px;
}

.freeAlcoholSlideItemDes p{
	font-size: 16px;
}

.freeAlcoholSlideItemColbtn{
	padding-top: 60px;
}



/* page loader */
.page-loader-cntlr{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #005caa;
    z-index: 120;
}
.page-loader-con {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader-rgt-mask{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;	
}

.loader-lft-mask{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
}

.loader-lft-frts{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 11;
}

.loader-logos{
	text-align: center;
}

.loader-logo-1{
	padding-bottom: 17px;
}
.loader-logo-2{
	padding-bottom: 13px;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.container,
	.container-xlg,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xs{
		padding-right: 20px;
    	padding-left: 20px;
	}
	.row{
		margin-right: -20px;
	    margin-left: -20px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}
