
.running-free-documentary-sec{
	position: relative;
	margin-bottom: 75px;
}
.rfd-sec-cntlr{
	position: relative;
	background: #f4f4f4;
}
.rfds-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 235px;
	z-index: 1;
}

.rfd-sec-con{
	padding: 100px 0 80px;
	position: relative;
	z-index: 2;
}

.rfd-sec-hdr{
	text-align: center;
	color: #fff;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}
.rfd-sec-hdr p{
	font-size: 16px;
	line-height: 1.5;
}
.rfd-sec-hdr-title{
	text-transform: uppercase;
	font-size: 50px;
	display: block;
	margin: 0 0 30px 0;
	text-shadow: 0 4px 11px #184074;
}
.running-free-documentary-sec-fea-img{
	height: 524px;
	margin-bottom: 50px;
}
.running-free-documentary-sec-fea-img div{
	width: 100%;
	height: 100%;
}


.races-running-sec-hdr{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.races-running-sec-hdr p{
	color: #004C9B;
	margin-bottom: 0;
}
.rrsh-title{
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;
	color: #004C9B;
	margin: 0;
	padding-right: 50px;
	text-align: right;
}



.races-running-sec{
	margin-bottom: 70px;
}
.races-running-sec-inr{
	position: relative;
	padding-bottom: 80px;
}
.races-running-sec-con{
	position: relative;
	z-index: 2;
}

.rrs-btm-gray-bg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 253px;
	background: #f4f4f4;
	z-index: 1;
}
.racesRunningSlider .slick-list{
	padding-top: 40px;
}

.races-running-sec-slider-cntlr{
	padding: 0 100px;
}
.racesRunningSlider{
	margin: 0 0 50px 0!important;
}
.racesRunningSlideItemCol{
	padding: 0 15px;
}
.racesRunningSlideItem{
	height: 400px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative;

}
.racesRunningSlideItem:hover{
	margin-top: -10px;
}

.racesRunningSlideItem-fea-img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.racesRunningSlideItemDes{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background: rgba(196,0,11,.86);
	width: 51%;
	padding: 50px 15px 30px 25px;
}
.racesRunningSlideItemDes > div{
	position: relative;
	width: 100%;
	height: 100%;
}
.racesRunningSlideItemDes strong{
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
}
.racesRunningSlideItemDesTitle{
	font-size: 22px;
	line-height: 1.2;
	text-transform: uppercase;
}

.rrsid-arrow-icon{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.racesRunningSlider .slick-prev,
.free-alcohol-sec-con .slick-prev{
	left: -100px!important;
}
.racesRunningSlider .slick-next,
.free-alcohol-sec-con .slick-next{
	right: -100px!important;
}
.racesRunningSlider .racesRunningSlideItemCol .racesRunningSlideItemDes{
	background: rgba(196,0,11,.86);
}
.racesRunningSlider .racesRunningSlideItemCol + .racesRunningSlideItemCol .racesRunningSlideItemDes{
	background: rgba(186,146,76,.89);
}



.freeAlcoholSlideItemFeaImg{
	position: relative;
}
.freeAlcoholSlideItemCol{
	width: 50%;
	float: left;
}

.free-alcohol-sec{
	padding-bottom: 100px;
}
.free-alcohol-sec-con{
	padding: 0 100px;
}


.asifi-layer-cntlr{
	margin-left: auto;
	margin-right: auto;
	max-width: 270px;
	width: 100%;
	position: relative;
	height: 510px;
}
.fasifi-layer-1{
	position: relative;
	z-index: 3;
}
.fasifi-layer-2 {
    position: absolute;
    right: -105px;
    bottom: -68px;
    z-index: 2;
}

.fasifi-layer-3 {
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: 1;
}

.free-alcohol-logo{
	padding-bottom: 40px;
}
.freeAlcoholSlideItemRow{
	display: flex;
	align-items: center;
}
.freeAlcoholSlideItemDes p{
	font-size: 16px;
}

.freeAlcoholSlideItemColbtn{
	padding-top: 60px;
}
.freeAlcoholSlideItemDes{
	padding-right: 90px;
}
.freeAlcoholSlider{
	margin-bottom: 0!important;
}

/* page loader */
.page-loader-cntlr{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #005caa;
    z-index: 120;
}
.page-loader-con {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.loader-rgt-mask{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;	
}

.loader-lft-mask{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
}

.loader-lft-frts{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 11;
}

.loader-logos{
	text-align: center;
}

.loader-logo-1{
	padding-bottom: 17px;
}
.loader-logo-2{
	padding-bottom: 13px;
}


/*home hover*/
.fasifi-layer-2,
.fasifi-layer-3{
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.asifi-layer-cntlr:hover .fasifi-layer-2{
	bottom: -75px;
	right: -110px;
}
.asifi-layer-cntlr:hover .fasifi-layer-3{
	bottom: 80px;
	right: -5px;
}

.loader-logo-1,
.loader-logo-2,
.loader-logo-3{
	display: none;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.rfd-sec-hdr-title{
		font-size: 45px;
		margin-bottom: 25px;
	}
	.races-running-sec-slider-cntlr,
	.free-alcohol-sec-con {
	    padding: 0 30px;
	}
	.racesRunningSlider .slick-prev, .free-alcohol-sec-con .slick-prev {
	    left: -50px!important;
	}
	.racesRunningSlider .slick-next, .free-alcohol-sec-con .slick-next {
	    right: -50px!important;
	}
	.slick-prev, .slick-next {
	    width: 60px!important;
	    height: 60px!important;
	}
	.racesRunningSlideItemDesTitle{
		font-size: 20px;
	}
	.racesRunningSlideItemDes{
		padding: 50px 10px 30px 20px;
	}
	.racesRunningSlideItemDes strong{
		margin-bottom: 10px;
	}
	.racesRunningSlideItem {
	    height: 385px;
	}
	.loader-lft-mask,
	.loader-rgt-mask{
		max-width: 250px;
	}
	.loader-lft-frts{
		max-width: 300px;
	}
}

@media(max-width: 991px){
	.rfd-sec-hdr-title {
		font-size: 42px;
		margin-bottom: 20px;
	}
	.freeAlcoholSlideItemDes {
	    padding-right: 30px;
	}
	.asifi-layer-cntlr{
		margin-left: 0;
	}
	.free-alcohol-logo{
		padding-bottom: 25px;
	}
	.free-alcohol-logo img{
		max-width: 200px;
	}
	.loader-lft-mask,
	.loader-rgt-mask{
		max-width: 200px;
	}
	.loader-lft-frts{
		max-width: 250px;
	}
	.loader-logo-1{
		max-width: 100px;
	}
	.loader-logo-2{
		max-width: 120px;
	}
	.loader-logo-3{
		max-width: 125px;
	}
	.loader-logos > div{
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 767px){
	.rfd-sec-hdr-title {
	    font-size: 35px;
	}
	.races-running-sec-hdr{
		display: block;
		text-align: center;
	}
	.rrsh-title {
	    font-size: 45px;
	    margin: 0;
	    padding-right: 0;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.rrsh-title br,
	.races-running-sec-hdr p br{
		display: none;
	}
	.freeAlcoholSlideItemRow{
		display: block;
	}
	.freeAlcoholSlideItemCol{
		float: none;
		width: 100%;
	}
	.asifi-layer-cntlr{
		margin-left: auto;
		margin-right: auto;
	}
	.freeAlcoholSlideItemColbtn {
	    padding-top: 40px;
	}
	.freeAlcoholSlideItemDes{
		padding-right: 0;
		padding-top: 30px;
	}
	.free-alcohol-sec {
	    padding-bottom: 80px;
	}
	.loader-lft-mask,
	.loader-rgt-mask{
		max-width: 150px;
	}
	.loader-lft-frts{
		max-width: 200px;
	}
	.loader-logo-1{
		max-width: 80px;
	}
	.loader-logo-2{
		max-width: 100px;
	}
	.loader-logo-3{
		max-width: 105px;
	}
}

@media(max-width: 575px){
	.rfd-sec-hdr p {
	    font-size: 15px;
	}
	.running-free-documentary-sec-fea-img {
	    height: 400px;
	}
	
	.rfd-sec-hdr-title {
	    font-size: 30px;
	    line-height: 1;
	    margin-bottom: 15px;
	}
	.rrsh-title {
	    font-size: 40px;
	     margin-bottom: 15px;
	}
	.races-running-sec-slider-cntlr {
	    padding: 0 0;
	}
	.racesRunningSlideItemCol {
	    padding: 0 0;
	}
	.racesRunningSlideItem {
	    height: 350px;
	}
	.racesRunningSlideItemDes{
		left: 0;
		right: 0;
		transform: initial;
		top: auto;
		bottom: 0;
		width: 100%;
		padding-bottom: 20px;
		padding-right: 60px;
	}
	.rrsid-arrow-icon{
		right: -50px;
	}
	.free-alcohol-sec-con {
		padding-left: 0;
		padding-right: 0;
	}
	.free-alcohol-sec.plr-20{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.fasifi-layer-1{
		left: -10px;
	}
	.fasifi-layer-2{
		right: -97px;
	}
	.free-alcohol-sec {
	    padding-bottom: 70px;
	}
	.freeAlcoholSlideItemColbtn {
	    padding-top: 25px;
	}
	.loader-lft-mask,
	.loader-rgt-mask{
		max-width: 100px;
	}
	.loader-lft-frts{
		max-width: 130px;
	}
	.loader-logo-1{
		max-width: 70px;
	}
	.loader-logo-2{
		max-width: 90px;
	}
	.loader-logo-3{
		max-width: 95px;
	}
}

@media(max-width: 479px){
	.rrsh-title {
	    font-size: 35px;

	}
	.running-free-documentary-sec-fea-img {
	    height: 300px;
	}
	.racesRunningSlideItem {
	    height: 320px;
	}

}

@media(max-width: 359px){

}


