
.rng-items-list-sm-btn{
	width: 120px;
	height: 36px;
	position: relative;
}
.rng-items-list-sm-btn input{
	height: 100%;
	width: 100%;
	padding-left: 35px;
	border-radius: 20px;
	background: #004C9B;
	color: #fff;
	font-size: 14px;
}
.ui-corner-all{
	background-image: none!important;
}

.ui-datepicker-next.ui-corner-all,
.ui-datepicker-prev.ui-corner-all{
	background-color: #004C9B!important;
	color: #fff!important;
	
}
.ui-datepicker-prev.ui-corner-all{
	background-image: url(../images/prev-arrow-hover.png)!important;
	background-size: 20px auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.ui-datepicker-next.ui-corner-all{
	background-image: url(../images/next-arrow-hover.png)!important;
	background-size: 20px auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.rng-items-list-sm-btn i{
	position: absolute;
	top: 50%;
	left: 10px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -3px;
	fill: #fff;
}
.rng-top-cheak-input-lg-btn,
.rng-top-cheak-input-lg-btn{
	width: 200px;
}


.running-lists-cntlr-wrap{
	padding: 0 30px;
	background: #f4f4f4;
}
.running-lists-modiul-hding{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 17px 0;
}
.running-lists-hding-month{
	color: #004A99;
	font-size: 16px;
	font-family: 'TheSansAmstel-Black';
	line-height: 1;
	margin-bottom: 0;
}
.running-lists-hding-count{
	display: inline-block;
	color: #004A99;
	font-size: 12px;
	font-family: 'TheSansAmstel-Bold';
	line-height: 1;
	margin-bottom: 0;
	text-transform: capitalize;
}
.running-lists-cntlr{

}
.running-lists-cntlr > ul > li{
	padding: 5px 0;
}
.running-list-item{
	min-height: 57px;
	display: flex;
	align-items: center;
	background: #fff;
}
.running-list-name{
	width: 42.35%;
	display: flex;
	align-items: center;
	padding-left: 25px;
}
.running-list-name p{
	color: #004A99;
	font-size: 14px;
	font-family: 'TheSansAmstel-Black';
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}
.running-list-location{
	width: 24.81%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.running-list-location p{
	color: #004A99;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: 'TheSansAmstel-Bold';
}
.running-list-location p span{
	font-family: 'TheSansAmstel-Black';
}
.running-list-date{
	width: 13.05%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.running-list-date p{
	color: #004A99;
	font-size: 14px;
	font-family: 'TheSansAmstel-Bold';
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}
.running-list-date p span{
	font-family: 'TheSansAmstel-Black';
}
.running-list-title-nm{
	width: 12.77%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.running-list-title-nm span{
    padding: 5px 14px;
	background: #BCA279;
	color: #fff;
	border-radius: 50px;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'TheSansAmstel-Bold';
	line-height: 1;
	margin-bottom: 0;
}
.running-list-btn{
	width: 6.99%;
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.running-list-btn:before{
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background: #f4f4f4;
}
.running-list-btn a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #004A99;
	border: 2px solid #004A99;
	background: transparent;
	height: 34px;
	width: 34px;
	border-radius: 50%;
}
.running-lists-modiul-lst-type{
	padding-bottom: 46px;
}
.running-lists-btn{
	padding-bottom: 50px;
	text-align: center;

}
.running-lists-btn a{

}



@media(max-width: 1499px){

}
@media(max-width: 1399px){

}
@media(max-width: 1299px){

}
@media(max-width: 1199px){

}
@media(max-width: 991px){
	.running-items-cnt-cntlr{
		margin-top: -60px;
	}
	.running-list-date{
		width: 18.05%;
	}
}
@media(max-width: 767px){
	.running-items-cnt-cntlr{
		margin-top: -40px;
	}
	.running-lists-modiul-hding{
		padding: 33px 0 14px 0;
	}
	.running-list-name{
		padding-left: 15px;
		width: 24%;
		padding: 0 10px;
	}
	.running-list-location{
		text-align: center;
		width: 28.81%;
		padding: 0 10px;
	}
	.running-list-date {
		width: 22.05%;
		text-align: center;
		padding: 0 10px;
	}
	.running-list-title-nm {
		width: 21.77%;
		padding: 0 10px;
	}
	.running-list-btn {
		width: 13.99%;
		padding: 0 10px;
	}
}
@media(max-width: 639){

}
@media(max-width: 575px){
	.running-list-item{
		flex-wrap: wrap;
		padding-top: 20px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.running-lists-modiul-hding{
		padding: 26px 0 10px 0;
	}
	.running-list-name{
		width: 50%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: flex-start;
	}
	.running-list-location{
		width: 50%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: flex-start;
	}
	.running-list-date {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: flex-start;
	}
	.running-list-title-nm {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: flex-start;
	}
	.running-list-btn {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 10px;
		height: auto;
		justify-content: flex-start;
	}
	.running-list-btn:before{
		content: none;
	}
	.relevant-evnt-slider-wrp,
	.relevant-evnt-slide-item{
		padding-left: 0;
		padding-right: 0;
	}
}
@media(max-width: 479px){
	.rng-top-cheak-input{
		flex-wrap: wrap;
	}
	.rng-top-cheak-input-lg-btn,
	.rng-top-cheak-input-lg-btn{
		margin-bottom: 10px;
	}
	.running-list-name{
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: center;
	}
	.running-list-location{
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: center;
	}
	.running-list-date {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: center;
	}
	.running-list-title-nm {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		justify-content: center;
	}
	.running-list-btn {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		height: auto;
		justify-content: center;
	}
}