/*
-----------------------
.afrp-event-page-sec-wrp
-----------------------
*/
.afrp-event-page-sec-wrp{
	padding-bottom: 75px;
	margin-top: -140px;
	z-index: 1;
	position: relative;
}
.afrp-event-page-sec-wrp .afrp-event-page-module{
	padding-left: 50px;
	padding-right: 30px;
}
.afrp-event-page-sec-wrp .afrp-sec-cntlr{
    padding-top: 25px !important;
}
.afrp-event-page-sec-wrp .afrp-img-txt-gird-block{
	max-width: 1040px;
}
.afrp-event-page-sec-wrp .fl-account-page-entry-hdr {
    max-width: 995px;
    padding-left: 30px;
}
.afrp-event-page-module a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	background: #BCA279;
	border-radius: 50px;
	width: 73px;
	height: 23px;
	text-align: center;
	padding: 3px 10px 5px;
	font-weight: 700;
}
.afrp-event-page-module a:hover{
	background: #C4000B;
}
.afrp-event-page-module span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #004C9B;
	padding-left: 20px;
	font-weight: 700;
}
.afrp-event-page-module-title{
	display: block;
	font-size: 46px;
	line-height: 1;
	color: #004C9B;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 18px;
}
.afrp-event-two-part-wrp,
.afrp-event-page-dsc{
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
}
.afrp-event-page-dsc{
	padding-right: 60px;
}
.afrp-event-page-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 36px;
	color: #004C9B;
	font-weight: 700;
	padding-bottom: 30px;
}
.afrp-event-page-dsc p{
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 1.6;
}

.afrp-event-map-lft{
	width: 59%;
	float: left;
}
.afrp-event-map-dsc span{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	color: #004C9B;
	font-family: 'TheSansAmstel-Black';
}
.afrp-event-map-dsc p{
	font-size: 16px;
	line-height: 18px;
	color: #004C9B;
	margin-bottom: 20px;
}
#eventgooglemap{
	height: 314px;
}
.afrp-event-gallery-rgt{
	width: 41%;
	float: right;
	padding-left: 50px;
}
.afrp-event-two-part-wrp{
	padding-bottom: 70px;
}
.afrp-event-gallery-wrp ul{
	margin: 0 -2px;
}
.afrp-event-gallery-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 0 2px 3px;
}
.afrp-event-gallery-img{
	height: 102px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}
.afrp-grid-loadmore-btn{
	text-align: center;
}
.afrp-grid-loadmore-btn a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #004C9B;
	text-transform: uppercase;
	font-family: 'TheSansAmstel-Bold';
	text-decoration:none;
	padding-bottom: 8px;
	position: relative;
}
.afrp-grid-loadmore-btn a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background:#004C9B;
}

.afrp-grid-loadmore-btn a:hover{
	color: #C4000B;
}
.afrp-grid-loadmore-btn a:hover:after{
	background: #C4000B;
}

/*
-----------------------------
 relevant-evnt-slider-sec-wrp
-----------------------------
*/
.relevant-evnt-slider-sec-bg-cntlr{
	position: relative;
	padding-top: 75px;
	padding-bottom: 90px;
}
.relevant-evnt-slider-sec-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	min-height: 260px;
	background:#004C9B;
	z-index: -1;
}
.relevant-evnt-title{
	display: block;
	font-size: 40px;
	line-height: 1;
	color: #FFFFFF;
	margin-bottom: 55px;
	text-transform: uppercase;
	text-align: center;
}
.relevant-evnt-slider-wrp{
    padding: 0 90px;
}
.relevant-evnt-slider{
	padding-bottom: 45px;
}
.relevant-evnt-slider .relevant-evnt-slide-item{
	display: none;
}
.relevant-evnt-slider .relevant-evnt-slide-item:first-child{
	display: block;
}
.relevant-evnt-slider.slick-initialized .relevant-evnt-slide-item{
	display: block;
}
.relevant-evnt-slide-item{
	padding: 0 15px;
}
.relevant-evnt-slide-item-img-cntlr{
	position: relative;
	overflow: hidden;
	height: 260px !important;
}
.relevant-evnt-slide-item-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.relevant-evnt-slider .slick-prev,
.relevant-evnt-slider .slick-next{
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.relevant-evnt-slider .slick-prev{
    left: -90px!important;
}
.relevant-evnt-slider .slick-next{
    right: -90px!important;
}
.relevant-evnt-slider .slick-prev:hover{
	background-color: #C4000B !important;
    background-image:url(../images/prev-arrow-hover.png) !important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.relevant-evnt-slider .slick-next:hover{
	background-color: #C4000B !important;
    background-image:url(../images/next-arrow-hover.png) !important;
    transition: all 0.5s;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.relevant-evnt-slide-item-dsc{
	background:#F4F4F4;
	padding: 20px 22px 30px;
}
.relevant-evnt-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 16px;
	color: #004C9B;
	font-family: 'TheSansAmstel-Bold';
	padding-bottom: 8px;
}
.relevant-evnt-slide-item-dsc-title{
	display: block;
	font-size: 24px;
	line-height: 1.1;
	color: #004C9B;
	text-transform: uppercase;
	margin-bottom: 0;
}
.relevant-evnt-slide-item-dsc-title a{
	color: inherit;
	text-decoration: none;
}

.relevant-evnt-slide-item-dsc-title:hover a{
	color: #C4000B;
}

.relevant-evnt-slider-sec-wrp .relevant-evnt-slide-item-img-cntlr span {
    position: absolute;
    background: #BCA279;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    padding: 5px 14px;
    text-transform: uppercase;
    font-family: 'TheSansAmstel-Bold';
    line-height: 1;
    top: 19px;
    right: 17px;
}
.relevant-evnt-slider-sec-wrp .relevant-evnt-slide-item:nth-child(2) .relevant-evnt-slide-item-img-cntlr span{
	background: #959595;
}


/*
-----------------------
 Running Free
-----------------------
*/
.rf-team-member-sec-wrp{
    margin-top: -65px;
}
.rf-team-member-sec-cntlr{
	background:#F4F4F4;
	padding-top: 45px;
	position: relative;
	z-index: 2;
}
.afrp-team-member-cntlr{
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 75px;
}
.rf-team-member-wrp{
	padding-bottom: 65px;
}
.rf-team-member-tp-item{
	text-align: center;
	max-width: 310px;
	width: 100%;
	margin: 0 auto;
}
.rf-team-member-tp-item-img{
	position: relative;
	margin-bottom: 10px;
	border-radius: 50% 50%;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
    -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
}
.rf-team-member-tp-item-img img{
	width: 100%;
	height: 100%;
}
.rf-team-member-tp-item-img:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom:0;
	border:13px solid#FFFFFF;
	opacity: 0.38;
	border-radius: 50% 50%;
}
.rf-team-member-title{
	display: block;
	font-size: 50px;
	line-height: 1;
	color: #004C9B;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}
.rf-team-member-tp-item-title{
	display: inline-block;
	vertical-align: baseline;
	font-size: 30px;
	line-height: 32px;
	color: #004C9B;
	font-family: 'TheSansAmstel-Black';
}
.rf-team-member-tp-item-title a{
	color: inherit;
	text-decoration: none;
}
.rf-team-member-btm{
	padding-top: 60px;
}
.rf-team-member-grid-item ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.rf-team-member-grid-item ul li{
	float: left;
	width: 20%;
	padding: 0 8px;
}
.rf-team-member-grid-item{
	padding-top: 25px;
}
.rf-team-member-grid-item-img{
	width: 100%;
	border-radius: 50% 50%;
	position: relative;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
    -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
}
.rf-team-member-grid-item-img img{
	width: 100%;
	height: 100%;
}
.rf-team-member-grid-item-hover{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background:#004C9B;
	opacity: 0;
	border-radius: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.rf-team-member-grid-item-img:hover .rf-team-member-grid-item-hover{
	opacity: 0.8;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.rf-team-member-grid-item-img:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border:13px solid#FFFFFF;
	border-radius: 50% 50%;
	opacity: 0.38;
}
.rf-team-member-grid-item-title{
	display:block;
	font-size: 15px;
	line-height: 17px;
	color: #004C9B;
	font-weight: 700;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
}
.rf-team-member-grid-item-title a{
	color: inherit;
	text-decoration: none;
}
.rf-team-member-tp-item-title:hover a,
.rf-team-member-grid-item-title:hover a{
	color: #C4000B;
}
.rf-team-member-sec-wrp .relevant-evnt-slider-cntlr{
	padding-top: 100px;
}

.rf-team-member-sec-wrp .relevant-evnt-title{
	color: #004C9B;
}
.rf-team-member-sec-wrp .relevant-evnt-slide-item-dsc{
	background:#fff;
}
.rf-team-member-sec-wrp .slick-prev,
.rf-team-member-sec-wrp .slick-next{
	background-color: #FFFFFF !important;
}
.rf-team-member-sec-wrp .relevant-evnt-slider-wrp {
    padding: 0 30px;
}
.rf-team-member-sec-wrp .relevant-evnt-slider .slick-prev {
    left: -75px!important;
}
.rf-team-member-sec-wrp .relevant-evnt-slider .slick-next {
    right: -75px!important;
}
.hu-dtls-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);*/
    color: #fff;
    width: 54px;
    height: 54px;
    z-index: 10;
    font-size: 20px;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale(1.1,1.1);
}
.hu-dtls-video-play-cntlr:hover{
	transform: scale(1.2,1.2);
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.rf-team-member-sec-wrp .relevant-evnt-slide-item-img:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color:#1A2941;
	opacity: 0.5;
}
.rf-team-member-sec-wrp .relevant-evnt-slider {
    padding-bottom: 0;
}
.rf-team-member-sec-wrp{
	padding-bottom: 25px;
}

/*
----------------------
 Responsive Css
----------------------
*/
@media(max-width: 1399px){
	.rf-team-member-sec-wrp .relevant-evnt-slider-wrp {
	    padding: 0 50px;
	}
}
@media(max-width: 1199px){
	.relevant-evnt-slider-wrp{
	    padding: 0 50px;
	}
	.relevant-evnt-slider-sec-bg-cntlr {
	    padding-top: 60px;
	    padding-bottom: 80px;
	}
	.afrp-event-page-module-title {
	    font-size: 40px;
	}
	.afrp-event-two-part-wrp,
	.afrp-event-page-dsc {
	    padding-top: 60px;
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.afrp-event-two-part-wrp {
	    padding-bottom: 60px;
	}
	.relevant-evnt-title {
	    font-size: 36px;
	    margin-bottom: 50px;
	}
	.relevant-evnt-slide-item-dsc {
	    padding: 20px 15px 30px;
	}
	.relevant-evnt-slide-item-dsc-title{
		font-size: 22px;
	}
	.rf-team-member-wrp {
	    padding-bottom: 50px;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider-cntlr {
	    padding-top: 80px;
	}
	.rf-team-member-title {
	    font-size: 46px;
	}
	.afrp-event-page-dsc span br{
		display: none;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr {
	    padding-left: 55px;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-prev {
	    left: -65px!important;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-next {
	    right: -65px!important;
	}
	.relevant-evnt-slider .slick-prev,
	.relevant-evnt-slider .slick-next{
		width: 65px !important;
		height: 65px !important;
		background-size: 28px 10px!important;
	}
	.relevant-evnt-slide-item-dsc-title a br{
		display: none;
	}
	

}

@media(max-width: 991px){
    .afrp-event-page-module-title {
	    font-size: 36px;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr {
	    padding-left: 45px;
	}
	.afrp-event-page-sec-wrp .afrp-event-page-module {
	    padding-left: 40px;
	    padding-right: 10px;
	}
	.afrp-event-page-sec-wrp .afrp-image-text-gird-block {
	    padding: 25px 40px 0;
	}
	.afrp-event-two-part-wrp,
	.afrp-event-page-dsc {
	    padding-top: 40px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.afrp-event-two-part-wrp {
	    padding-bottom: 40px !important;
	    padding-top: 20px;
	}
	.afrp-event-gallery-rgt {
	    width: 100%;
	    float: right;
	    padding-left: 0;
	    padding-top: 40px;
	}
	.afrp-event-page-dsc span {
	    line-height: 30px;
	    padding-bottom: 20px;
	}
	.afrp-event-page-dsc p {
	    margin-bottom: 20px;
	}
	.afrp-event-map-lft {
	    width: 100%;
	}
	.afrp-event-page-sec-wrp {
	    padding-bottom: 60px;
	}
	.relevant-evnt-title {
	    font-size: 34px;
	    margin-bottom: 40px;
	}
	.rf-team-member-wrp {
	    padding-bottom: 40px;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider-cntlr {
	    padding-top: 40px;
	}
	.rf-team-member-title {
	    font-size: 42px;
	}
	.rf-team-member-grid-item ul li {
	    width: 25%;
	    padding: 0 8px 20px;
	}
	
    
}

@media(max-width: 767px){
	.relevant-evnt-slider-sec-bg{
		min-height: 200px;
	}
	.relevant-evnt-slider-sec-bg-cntlr {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}
    .afrp-event-page-module-title {
	    font-size: 31px;
	}
	.afrp-event-page-sec-wrp {
	    padding-bottom: 50px;
	}
	.afrp-event-page-sec-wrp .afrp-image-text-gird-block {
	    padding: 25px 30px 0;
	}
	.afrp-event-page-sec-wrp .afrp-event-page-module {
	    padding-left: 20px;
	    padding-right: 0;
	}
	.afrp-event-two-part-wrp {
	    padding-bottom: 30px !important;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr a i {
	    padding-right: 40px;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr {
	    padding-left: 25px;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr a {
	    max-width: 110px;
	}
	.relevant-evnt-title {
	    font-size: 30px;
	}
	.relevant-evnt-slider-wrp {
	    padding: 0 40px;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-prev {
	    left: -50px!important;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-next {
	    right: -50px!important;
	}
	.relevant-evnt-slider .slick-prev {
	    left: -60px!important;
	}
	.relevant-evnt-slider .slick-next {
	    right: -60px!important;
	}
	.relevant-evnt-slider .slick-prev,
	.relevant-evnt-slider .slick-next{
		width: 50px !important;
		height: 50px !important;
		background-size: 25px 8px!important;
	}
	.relevant-evnt-slide-item-dsc-title {
	    font-size: 21px;
	}
	.rf-team-member-wrp {
	    padding-bottom: 0;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider-cntlr {
	    padding-top: 30px;
	}
	.rf-team-member-title {
	    font-size: 38px;
	}
	.rf-team-member-tp-item-txt span{
	    font-size: 28px;
	    line-height: 30px;
	}
	.rf-team-member-grid-item ul li {
	    width: 33.3333%;
	}
	.rf-team-member-sec-wrp .afrp-image-text-gird-block {
	    padding: 45px 50px 50px;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider .slick-prev{
	    left: -50px!important;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider .slick-next {
	    right: -50px!important;
	}
	.relevant-evnt-title {
	    margin-bottom: 30px;
	}
	
	.rf-team-member-btm {
	    padding-top: 40px;
	}
	.rf-team-member-btm-grids {
	    padding-top: 15px;
	}
}

@media(max-width: 575px){
    .afrp-event-page-module-title {
	    font-size: 28px;
	}
	.afrp-event-page-sec-wrp .afrp-image-text-gird-block {
	    padding: 25px 20px 0;
	}
	#eventgooglemap {
	    height: 280px;
	}
	.relevant-evnt-title {
	    font-size: 27px;
	}
	.rf-team-member-title {
	    font-size: 34px;
	}
	.rf-team-member-tp-item-txt span{
	    font-size: 26px;
	    line-height: 28px;
	}
	.rf-team-member-grid-item ul li {
	    width: 50%;
	}
	.rf-team-member-sec-wrp .afrp-image-text-gird-block {
	    padding: 45px 40px 50px;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider-wrp {
	    padding: 0;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider .slick-prev{
	    left: -32px!important;
	}
	.rf-team-member-sec-wrp .relevant-evnt-slider .slick-next {
	    right: -32px!important;
	}
	.relevant-evnt-slider .slick-prev,
	.relevant-evnt-slider .slick-next{
		width: 40px !important;
		height: 40px !important;
		background-size: 22px 8px!important;
	}
	.relevant-evnt-slider-cntlr .af-default-btn {
	    padding: 18px 20px;
	    min-width: 230px;
	}

}

@media(max-width: 479px){
	.afrp-event-gallery-img{
		height: 80px !important;
	}
	.afrp-event-page-module-title {
	    font-size: 26px;
	}
	.relevant-evnt-title {
	    font-size: 21px;
	}
	.relevant-evnt-slider-wrp {
	    padding: 0 10px;
	}
	.relevant-evnt-slider .slick-prev {
	    left: -35px!important;
	}
	.relevant-evnt-slider .slick-next {
	    right: -35px!important;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-prev{
	    left: -35px!important;
	}
	.relevant-evnt-slider-sec-wrp .relevant-evnt-slider .slick-next {
	    right: -35px!important;
	}
	.relevant-evnt-slide-item-dsc-title {
	    font-size: 19px;
	}
	.relevant-evnt-slider .slick-prev,
	.relevant-evnt-slider .slick-next{
		width: 40px !important;
		height: 40px !important;
		background-size: 20px 6px!important;
	}
	.rf-team-member-title {
	    font-size: 26px;
	}
	.rf-team-member-grid-item ul li {
	    width: 100%;
	}
	.rf-team-member-tp-item-txt span {
	    font-size: 22px;
	    line-height: 24px;
	    padding-top: 10px;
	}
	.relevant-evnt-slide-item-img-cntlr{
		height: 220px !important;
	}
	.afrp-event-page-sec-wrp .fl-account-page-entry-hdr {
	    padding-left: 15px;
	}
	.rf-team-member-tp-item-img{
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	.rf-team-member-grid-item-img{
		max-width: 180px;
		width: 100%;
		margin: 0 auto;
	}

}

@media(max-width: 359px){

}