/*
-----------------------------
afrp-image-text-gird-sec-wrp
-----------------------------
*/
.afrp-image-text-gird-sec-wrp{
	padding-bottom: 140px;
    margin-top: -200px;
}
.afrp-sec-cntlr{
    background:#fff;
    padding-top: 90px;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.afrp-img-txt-gird-block{
    max-width: 950px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.afrp-image-text-gird-cntlr{
    padding-bottom: 50px;
}
.afrp-image-text-grid-fea-img{
	float: left;
	width: 48%;
	min-height: 560px;
	background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}
.afrp-image-text-grid-dsc {
    float: left;
    width: 52%;
    padding-left: 50px;
    padding-right: 50px;
}
.afrp-image-text-grid-dsc p{
	font-size: 18px;
	line-height: 30px;
}
.afrp-image-text-grid-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #004C9B;
	font-family: 'TheSansAmstel-Bold';
	padding-bottom: 12px;
}
.afrp-image-text-grid-dsc-title{
	display: block;
	font-size: 46px;
	line-height: 1;
	color: #004C9B;
	margin-bottom: 25px;
}
.afrp-fancy-module {
    width: 100%;
    height: 422px;
    overflow: hidden;
    position: relative;
}
.afrp-fancy-img{
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.afrp-fancy-img:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #1A2941;
	opacity: 0.5;
}
.afrp-fancy-module:hover .afrp-fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.ms-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fff;
    width: 66px;
    height: 66px;
    font-size: 20px;
    line-height: 1;
    transition: all 0.5s; 
    -ms-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
}
.fl-account-page-entry-hdr{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px 20px;
    transform: all 0.5s;
    -ms-transform: all 0.5s;
    -webkit-transform: all 0.5s;
}
.fl-account-page-entry-hdr a{
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    max-width: 125px;
    transform: all 0.5s;
    -ms-transform: all 0.5s;
    -webkit-transform: all 0.5s;
    font-family: 'TheSansAmstel-Black';
}
.fl-account-page-entry-hdr a span{
    display: block;
    vertical-align: baseline;
    line-height: 100%;
    text-align: right;
    margin-bottom: -2px;
}
.fl-account-page-entry-hdr a:hover{
	color: #C4000B;
	transform: all 0.5s;
    -ms-transform: all 0.5s;
    -webkit-transform: all 0.5s;
}


/*
----------------------
 Responsive Css
----------------------
*/
@media(max-width: 1399px){
    .afrp-image-text-grid-dsc {
        padding-left: 45px;
        padding-right: 30px;
    }
    
}

@media(max-width: 1199px){
    .afrp-image-text-gird-sec-wrp {
        padding-bottom: 110px;
        margin-top: -180px;
    }
    .afrp-sec-cntlr{
        padding-top: 70px;
    }
    .afrp-image-text-grid-dsc {
        padding-left: 30px;
        padding-right: 20px;
    }
    .afrp-image-text-grid-dsc-title {
        font-size: 42px;
        margin-bottom: 25px;
    }
    .afrp-image-text-grid-dsc p br{
        display: none;
    }
    .afrp-fancy-module {
        height: 400px;
    }
    .afrp-team-member-cntlr {
        padding-bottom: 65px;
    }

}

@media(max-width: 991px){
    .afrp-image-text-gird-sec-wrp {
        padding-bottom: 90px;
    }
    .afrp-image-text-gird-cntlr {
        padding-bottom: 30px;
    }
    .afrp-image-text-grid-dsc-title {
        font-size: 40px;
        margin-bottom: 20px;
    } 
    .afrp-image-text-grid-fea-img{
        width: 100%;
        min-height: 500px;
    }
    .afrp-image-text-grid-dsc {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        padding-top: 30px;
    }
    .afrp-fancy-module {
        height: 380px;
    }
}

@media(max-width: 767px){
    .afrp-image-text-grid-dsc-title {
        font-size: 36px;
    } 
    .afrp-image-text-gird-sec-wrp {
        padding-bottom: 60px;
        margin-top: -160px;
    }
    .afrp-sec-cntlr{
        padding-top: 50px;
    }
    .afrp-image-text-grid-fea-img{
        min-height: 460px;
    }
    .afrp-image-text-gird-block {
        padding: 50px 30px 0;
    }
    .afrp-fancy-module {
        height: 350px;
    }
    .ms-video-play-cntlr{
        width: 50px;
        height: 50px;
    }
    .fl-account-page-entry-hdr a{
        max-width: 100px;
    }
    .fl-account-page-entry-hdr a i img{
        max-width: 90px;
        width: 100%;
    }
    .afrp-image-text-grid-dsc p {
        font-size: 16px;
        line-height: 26px;
    }
    .afrp-image-text-grid-dsc {
        padding-left: 10px;
        padding-right: 10px;
    }
    .afrp-event-two-part-wrp,
    .afrp-event-page-dsc {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    .afrp-team-member-cntlr {
        padding-bottom: 50px;
    }
}

@media(max-width: 575px){
   .afrp-image-text-grid-dsc-title {
        font-size: 30px;
    } 
    .afrp-image-text-grid-fea-img{
        min-height: 420px;
    }
    .afrp-image-text-gird-block {
        padding: 40px 20px 0;
    }
    .afrp-fancy-module {
        height: 320px;
    }
    .ms-video-play-cntlr{
        width: 40px;
        height: 40px;
    }

}

@media(max-width: 479px){
    .afrp-image-text-grid-fea-img{
        min-height: 340px;
    }
    .afrp-fancy-module {
        height: 280px;
    }
    .afrp-img-txt-gird-block {
        padding-left: 10px;
        padding-right: 10px;
    }
    .afrp-image-text-grid-dsc {
        padding-right: 0;
    }

}

@media(max-width: 359px){

}