
.terms-content{
	padding: 130px 0 170px;
}
.terms-content-ctlr{
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
	padding-right: 40px;
}

.terms-content-ctlr article h6:first-child{
	font-size: 30px;
	color: #004C9B;
	text-transform: uppercase;
	margin-bottom: 25px;
	font-family: 'TheSansAmstel-Black';
	font-weight: 900;
}
.terms-content-ctlr article h6{
	font-size: 20px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: 'TheSansAmstel-Bold';
	font-weight: 700;
}
.terms-content-ctlr article p{
	margin-bottom: 25px;
}
